<h1>Your list of runs! </h1> <br>
<h4> <a href = "/runs/new"> Add more runs here </a> </h4> <br>
    <ul><% @runs.each do |run| %>
        <br>
        Length: <a href="runs/<%= run.id %>"> <%= run.length %> </a><br>
        Date: <%= run.date %> <br>
        Location: <%= run.location %> <br>
        Description: <%= run.description %> <br>
    <% end %>

    <br>
        <% if logged_in? %>
            <h3> You are logged in as: <%= current_user.username %> </h3>
            <a href="/logout">Log out here</a>
            <% end %>