<h1> Below is additional information on your run! </h1>
    <br>
        <h2> Length: <%= @run.length %> <br>
             Date: <%= @run.date %> <br>
             Location: <%= @run.location %> <br>
             Description: <%= @run.description %> </h2>

<a href = "/runs/<%= @run.id %>/edit"> Edit your run </a> <br> <br>

<a href = "/runs"> Return to list of runs </a>
<br>
<br>
<form method="POST" action="/runs/<%=@run.id%>">
    <input type="hidden" value="DELETE" name="_method">    
    <input type="submit" value="Delete">
</form>